<ion-header>
  <ion-toolbar color="titulo">
    <ion-title style="font-family: alegre_sansregular;">Iglesia</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span color="secundary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div style="text-align: center;" *ngIf="iglesia.ruta_imagen !== null">
    <img src="{{iglesia.ruta_imagen}}" alt="logo" style="width: 68%;" class=" claseImg animated bounce" />
  </div>
  <div style="text-align: center;" *ngIf="iglesia.base_64 !== null">
    <img src="data:image/jpeg;base64,{{iglesia.base_64}}" alt="logo" style="width: 68%;" class=" claseImg animated bounce" />
  </div>
  <div style="text-align: center;" *ngIf="iglesia.base_64 == null && iglesia.ruta_imagen == null">
    <img src="assets/imgs/church.png" alt="logo" style="width: 68%;" class=" claseImg animated bounce" />
  </div>

  <ion-item-divider style="border-bottom: none;font-family: alegre_sansregular;color:#676666;font-size: 149%;" *ngIf="iglesia.nombre !== null">
    Nombre de la Iglesia:
  </ion-item-divider>
  <ion-item-divider *ngIf="iglesia.nombre !== null">
    <div>{{iglesia.nombre}}</div>
  </ion-item-divider>

  <ion-item-divider style="border-bottom: none;font-family: alegre_sansregular;color:#676666;font-size: 149%;" *ngIf="iglesia.denominacion !== null">
    Denominación de la Iglesia:
  </ion-item-divider>
  <ion-item-divider *ngIf="iglesia.denominacion !== null">
    <div>{{iglesia.denominacion}}</div>
  </ion-item-divider>

  <ion-item-divider style="border-bottom: none;font-family: alegre_sansregular;color:#676666;font-size: 149%;" *ngIf="iglesia.direccion !== null">
    Dirección:
  </ion-item-divider>
  <ion-item-divider *ngIf="iglesia.direccion !== null">
    <p>{{iglesia.direccion}}</p>
  </ion-item-divider>
  <ion-item-divider style="border-bottom: none;font-family: alegre_sansregular;color:#676666;font-size: 149%;" *ngIf="iglesia.telefono !== null">
    Tel. Contacto:
  </ion-item-divider>
  <ion-item-divider *ngIf="iglesia.telefono !== null">
    <div>{{iglesia.telefono}}</div>
  </ion-item-divider>
  <ion-item-divider style="border-bottom: none;font-family: alegre_sansregular;color:#676666;font-size: 149%;" *ngIf="iglesia.descripcion !== null">
    Invitación y/u Horarios:
  </ion-item-divider>
  <ion-item-divider *ngIf="iglesia.descripcion !== null">
    <p>{{iglesia.descripcion}}</p>
  </ion-item-divider>
  <ion-item-divider style="border-bottom: none;font-family: alegre_sansregular;color:#676666;font-size: 149%;" *ngIf="iglesia.email !== null">
    Email:
  </ion-item-divider>
  <ion-item-divider *ngIf="iglesia.email !== null">
    <div>{{iglesia.email}}</div>
  </ion-item-divider>
</ion-content>


<ion-fab bottom right class="animated swing">
  <button ion-fab style="background-color: #f3f3f3" (click)="irMapa()">
    <img src="assets/imgs/maps.png" alt="logo" style="width: 57%;" />
  </button>
  <!-- <ion-fab-list side="left">
    <button ion-fab (click)="irMapa()" style="background-color: #f3f3f3">
      <img src="assets/imgs/maps.png" alt="logo" />
    </button>
    <button ion-fab (click)="comoLlegar()" style="background-color: #f3f3f3">
      <img src="assets/imgs/route.png" alt="logo" />
    </button>
  </ion-fab-list> -->
</ion-fab>