page-ministerios-view-image {
    .searchbar-md .searchbar-input {
        background-color: #161618;
        color: #fff
    }

    ion-content{
        height: 122px;
        width: 199px;
        margin-top: 95px;
        margin-left: 18%;
        background-color: #000;
        border-radius: 5px;
    }
}
