page-radio {
    .toolbar-background {
        background-color: #161618 !important;
    }
    .toolbar-background-md{
        background-color: #161618 !important;
    }

    video:-webkit-full-page-media {
        position: fixed !important;
        top: 0px !important;
        right: 0px !important;
        bottom: 0px !important;
        left: 0px !important;
        max-height: 100% !important;
        max-width: 100% !important;
        margin: auto !important;
        z-index: -999 !important;
    }

    ion-slides {
        display: block;
        width: 100%;
        /* height: 100%; */
    }
}
